.bannerContainer {
  background: #333;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  img.banner {
    object-fit: cover;
    object-position: center;
  }
}

// show avatar over banner
.avatarContainer {
  background: #333;
  border: 1px solid #ccc;
  border-radius: 50%;

  position: absolute;

  bottom: -50px;
  left: 40px;

  img.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
