body {
  background: url(../../assets/auth-bg.svg) no-repeat center center fixed;
  background-size: cover;

  @media (max-width: 768px) {
    background: url(../../assets/auth-bg.svg) no-repeat center center fixed;
  }
}
