body {
  background: url(../../assets/auth-bg.svg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter', Arial, Helvetica, sans-serif;

  @media (max-width: 768px) {
    background: url(../../assets/auth-bg.svg) no-repeat center center fixed;
  }
}
