.container {
  margin-left: auto;
  margin-right: auto;

  width: 600px;

  @media (max-width: 600px) {
    // Small screens have a bottom navbar, so we need to add some padding
    padding-bottom: 90px;
    width: 97%;
  }

  .header {
    height: fit-content;
    margin-bottom: 70px;
    section.profileImages {
      position: relative;
      height: 175px;
      width: 100%;

      img.banner {
        border: 5px solid #ff5e00;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      // show avatar over banner
      img.avatar {
        border: 5px solid #ff0000;

        position: absolute;

        // move avatar to the left of the banner
        top: 100%;
        left: 20%;
        transform: translate(-50%, -50%);

        border-radius: 50%;
        object-fit: cover;

        height: 120px;
        width: 120px;

        // center avatar on small screens
        @media (max-width: 600px) {
          top: 90%;
          left: 50%;
        }
      }
    }
  }
}
