.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #1d2226;
  border-bottom: 1px solid #383838;
  height: 100px;

  .main {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 120px;

    @media (max-width: 768px) {
      margin-left: 20px;
    }

    .logo img {
      height: 50px;
      width: 50px;
    }

    .search {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 11px 3px 11px 10px;
      gap: 11px;

      @media (max-width: 768px) {
        margin-right: 5px;
      }

      svg {
        font-size: 25px;
      }

      &,
      input {
        background-color: #38434f;
        color: #fff;
        border: none;
      }

      &:hover > input,
      &:hover {
        background-color: #37404b;
      }

      input {
        outline: none;
        font-size: 1rem;
        width: 320px;

        @media (max-width: 768px) {
          width: 280px;
        }

        @media (max-width: 425px) {
          width: 160px;
        }

        &::placeholder {
          color: #fff;
        }
      }
    }
  }

  .menu {
    @media (max-width: 768px) {
      display: none;
    }

    img {
      border: 5px solid #cccccc3d;
      border-radius: 50%;
      margin-right: 44px;
      height: 72px;
      width: 72px;

      @media (max-width: 768px) {
        margin-right: 20px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.mobileContainer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #1c1c1c;

  margin-left: auto;
  margin-right: auto;

  height: 82px;
  width: 100vw;

  padding-bottom: 5px;

  @media (min-width: 768px) {
    display: none;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 72px;
    height: 72px;

    &.active, &:hover {
      padding: 1px;
      background-color: #313131;
      border-radius: 20%;
    }

    * {
      color: #fff;
    }

    svg {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.03rem;
    }
  }
}
