.container {
  margin-left: auto;
  margin-right: auto;

  width: 600px;

  @media (max-width: 600px) {
    // Small screens have a bottom navbar, so we need to add some padding
    padding-bottom: 90px;
    width: 97%;
  }

  section.profileImages {
    position: relative;

    margin-bottom: 70px;

    height: 175px;
    width: 100%;
  }

  section.profileInfo {
    display: flex;

    .main {
      display: flex;
      flex-direction: column;
      gap: 3px;

      span {
        color: #888888;
      }

      p.bio {
        max-width: fit-content;
      }
    }
  }

  section.profileStats {
    display: flex;
    gap: 20px;

    margin-top: 10px;

    div {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      span:first-child {
        color: #fff;
      }
      span:last-child {
        color: #888888;
        margin-left: 3px;
      }
    }
  }
}
